
nav{
    border-radius:0px 0px 6px 6px;
}

a{
    text-decoration:solid;
}


nav img{
    padding:0px;
    margin:0px;
    width:30px;
    height:30px;
    margin-right:3px;
    margin-bottom: 5px;
}

nav li{
    opacity: 50%;
    transition:opacity 0.7s;
}

nav li:hover{
    opacity: 100%;
}

li{
    padding:0%;
    margin-left:15px;
    margin-top:5px;
}


span.loading{
    position:relative;
    top:25vh;
    left:35%;
}

#sistema_hide{
    display: none;
}